<!DOCTYPE html>
<html>
  <head>
    <!--
    <script data-main="js/main" src="../../public/js/vendor/requirejs/require.js"></script>
    -->
    <link rel='stylesheet' type='text/css' href='public/css/style.min.css'/>
    <title>chapter</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>